extends ../base


block content 
  h4 영상 제목 수정하기
  form(method="POST") 
    label 제목
      input(name="title", placeholder="영상 제목", value=video.title, required)
    label 설명
      input(name="description" placeholder="설명" value=video.description, type="text" maxlength=140)
    label 태그
      input(name="hashtags" placeholder="태그" value=video.hashtags.join(), type="text")
    input(value="save", type="submit")