extends ../base
include ../mixins/video

block content 
  form.search__form 
    input(name="q", placeholder="검색 할 제목을 입력하세요", type="search")
    button
      i.fas.fa-search

  if videos.toString() !== ""
    .video-grid
      each video in videos 
        +video(video)
      else
        span.empty__message 아무것도 찾지 못했습니다.