extends ../base
include ../mixins/video

block content 
  form
    input(name="q", placehodler="검색 할 제목을 입력하세요", type="search")
    input(type="submit", value="검색하기")

  each video in videos 
    +video(video)