html {
  background: #292d3e;
  color: #999;
}
.codeline,
.const,
.commit,
.console,
.text,
.number,
.json {
  display: inline;
}
.codeBlock {
  background: #1d1f29;
  padding: 20px 0;
}
.codeline {
  background: #1d1f29;
}

.const {
  color: #bb8add;
}
.attribute {
  color: #569cd6;
}
.comment {
  color: #57a64a;
}
.console {
  color: #bd63c5;
}
.text {
  color: #8e6c61;
}
.number {
  color: #b8d7a3;
}
.json {
  color: #9ad9fa;
}
.tag {
  color: #f07178;
}
.quot {
  color: #bbde89;
}
