form {
  label {
    font-size: 14px;
    mrgin-bottom: 10px;
    display: block;
  }
}

.edit-profile__img {
  margin: 0 auto 20px;
  border-radius: 9999px;
  @include type(100px, 100px);
}
.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
