include mixins/message

doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv="Cross-Origin-Embedder-Policy" content="require-corp")
    meta(http-equiv="Cross-Origin-Opener-Policy" content="same-origin")
    meta(name="viewport", content="width=device-width , initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet", href="/assets/css/styles.css")
    title #{pageTitle} | #{siteName}
  body 
    include partials/header
    if messages.error
      +message("error", messages.error)
    if messages.info
      +message("info", messages.info)
    if messages.success
      +message("succss", messages.success)
    main
      block content
    include partials/footer
  script(src="/assets/js/main.js") 
  block scripts