extends base

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(name="name", placeholder="별명", required, uniquem type="text" minlength="2")
    input(name="username", placeholder="아이디", required, unique, type="text", minlength="4")
    input(name="password", placeholder="비밀번호", required, type="password" pattern="^[a-zA-Z0-9`~!@#$%^&*()\\-+{}|\;':", minlength="4")
    input(name="password2", placeholder="비밀번호 확인", required, type="password" pattern="^[a-zA-Z0-9`~!@#$%^&*()\\-+{}|\;':", minlength="4")
    input(name="email", placeholder="이메일", required, type="email") 
    input(name="location", placeholder="거주지", required, type="text")
    input(type="submit", value="가입하기")
  hr
  div 
    span 이미 계정이 있으십니까? 
    a(href="/login") 로그인 &rarr;
