extends ../base

block content 
  form(method="POST")
    if !loggedInUser.socialLogin
      input(name="old-password" placeholder="기존 비밀번호" type="password")
      input(name="new-password" placeholder="변경할 비밀번호" type="password")
      input(name="new-password-check" placeholder="비밀번호 확인" type="password")
    else
      span 비밀번호가 존재하지 않습니다.
      input(name="old-password" placeholder="기존 비밀번호" type="password" disabled)
      input(name="new-password" placeholder="변경할 비밀번호" type="password" disabled)
      input(name="new-password-check" placeholder="비밀번호 확인" type="password" disabled)
    input(type="submit", value="변경하기")