extends ../base

block content
  form(method="POST")
    input(name="username", placeholder="아이디", required, unique, type="text", minlength="4")
    input(name="password", placeholder="비밀번호", required, type="password" pattern="^[a-zA-Z0-9`~!@#$%^&*()\\-+{}|\;':", minlength="4")
    input(type="submit", value="로그인")
    include ../partials/social-login
  hr
  div.auth-switch
    span 계정이 없으십니까? 
    a(href="/join") 회원가입 &rarr;


